<div class="row">
  <div class="col-md-6 mx-auto">
    <div class="card rounded-0">
      <div class="card-header">
        <h3 class="mb-0">Register</h3>
      </div>

      <div class="card-body">
        <form action="" class="form">
          <div class="form-group">
            <label for="">Name</label>
            <!-- register use email input -->
            <input [(ngModel)]="registerUserData.name" name="name" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">Job(Undergraduate, graduated, researcher in univ(MD, Phd?, poDoc?), resercher institute</label>
            <!-- register use email input -->
            <!-- 각각의 경우에 따라 어느 학교인지, 연구 기관이 어디인지 추가로 물어보기. 
            기관 리스트 나열해서 선택하게 하거나 직접 입력 -->
            <input [(ngModel)]="registerUserData.job" name="job" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">Email</label>
            <!-- register use email input -->
            <input [(ngModel)]="registerUserData.email" name="email" type="text" class="form-control rounded-0" required>
          </div>
          <div class="form-group">
            <label for="">Password</label>
            <!-- register user password input -->
            <input [(ngModel)]="registerUserData.password" name="password"  type="password" class="form-control rounded-0" required>
          </div>
          
          <!-- when click button, registerUser function init. -->
          <button (click)="registerUser()" type="button" class="btn btn-primary float-right">Register </button>
        </form>
        
        <div class="or-seperator"><i>or</i></div>
        <h2>소셜 계정 간편 가입</h2>
        <a (click)="toSocReg()">Google 계정으로 회원가입</a>
      </div>
    </div>
  </div>
</div>