








<div class="uk-container">
  <input type="file" name="fileInput" (change)="onFileChange($event)" #fileInput />
  <div>
    {{fileResult}}
</div>
  <ul class="uk-list">
  <li ><button class="uk-button uk-button-default" (click)="sendPutRequest()"> sendPutRequest</button></li>
  <li ><button class="uk-button uk-button-default" (click)="indexDocument()"> indexDocument</button></li>
  <li ><button class="uk-button uk-button-default" (click)="specifyFields()"> specifyFields</button></li>
  <li ><button class="uk-button uk-button-default" (click)="getContext()"> getContext</button></li>
</ul>
<hr>
 <ul class="uk-list">
  <li >컨텐츠 길이 : {{contentLength}}</li>
  <li >컨텐츠 타입 : {{contentType}}</li>
  <li >컨텐츠 : {{contents}}</li>
 
</ul>
</div>