<!-- <div class="uk-section uk-section-secondary"> -->
<!-- <div class="uk-position-bottom "> -->
<div uk-grid>
<div class="logo-width">
    <img src="assets/handong_logo.png">
</div>

<div class="info-width">

    <!-- <div class="foot-info uk-width-*"> -->
    이용약관 | 개인정보처리방침 | 이메일무단수집거부 | 사이트맵
</div>

<div class="who-we-are">

    한동대학교 통일선도대학 사업단
    경상북도 포항시 북구 흥해읍 한동로 558 | 대표 OOO | 054-260-1515 | KUBC@handong.edu
    COPYRIGHT&copy; 2019 KUBC HANDONG GLOBAL UNIVERSITY. ALL RIGHTS RESERVED.
</div>
</div>
<!-- </div> -->





<!-- </div> -->
<!-- </div> -->