<hr />

<!-- 하단부 -->
<div class="uk-container" uk-grid>
    <!-- 좌측 패널 responsive web 1/4 of container following 1/4 columns from design-->
    <div class="uk-width-1-4 left-wing">
        <!-- border-radius round outline -->
        마이페이지
        <div class="outline">
            <div>
                <a (click)="user_menu_set('my_keep')">내가 찜한 문서 보관함</a>
            </div>
            <div>
                <a (click)="user_menu_set('my_analysis')">
                    내 분석함
                </a>
            </div>
            <div>
                <a (click)="user_menu_set('my_history')">
                    내 검색기록
                </a>
            </div>
            <div>
                <a (click)="user_menu_set('my_account')">
                    회원정보관리
                </a>
            </div>
            <div>
                <a (click)="user_menu_set('sign_out')">
                    회원탈퇴
                </a>
            </div>
            <!-- 문서 저장 KEEP -->
            <!-- <div class="uk-margin-small" uk-grid>
                <div class="uk-align-center" *ngIf="isLogStat">
                    <button (click)="keepMyDoc()" class="uk-button uk-button-primary">
                        KEEP
                    </button>
                </div>
            </div> -->

            <!-- 좌측 검색 필터 -->
            <!-- <div class="filter-in-result">
                <div>
                </div>
                <app-search-filter></app-search-filter>
            </div> -->
        </div>
    </div>


    <!-- 중앙 검색 결과 -->
    <div class="uk-width-3-4 middle-result-area">
        내보관함 새폴더생성 폴더편집
        <div>
            폴더1 폴더2 폴더3
            <div class="outline">
                <div *ngIf='user_menu == "my_keep"'>
                    <div *ngFor="let doc of myDocs; index as d">
                        <a>{{ doc }} </a>
                    </div>
                    <div *ngIf="!isDocEmpty">
                        <button (click)="deleteAllMyDocs()">나의 문서 모두 지우기</button>
                    </div>
                </div>



                <div *ngIf='user_menu == "my_history"'>
                    <div *ngFor="let doc of myHst; index as d">
                        <a>{{ doc }} </a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    
</div>



<!--


<div>
    KEEP 한 문서 : {{ myDocsNum }}
    <div *ngFor="let d of myDocs">
        <div class="row">
            <div class="col">
                {{d}}
            </div>

        </div>
    </div>
</div>

-->