.custom-width{
    width : 1280px//responsive web
    // background: red;//test
}

.most-parent{
    background-color : lightblue;
}

.body-size{
    // height: 100%;
    // min-height :680px ;//how to chagne to responsive size?
    // margin : 0;
    // padding : 0;
    
    // background: lightblue;//test
    
}

.footer{
    position:relative;
    bottom: 0;
}