<div class="uk-section  uk-preserve-color">
    <div class="uk-container-center">
        <div class="uk-grid-match uk-column-1-1@m" uk-grid>
            
            <div class="uk-align-center  uk-width-*">

                 <div class="uk-text-bold uk-flex-center">오늘의 키워드</div>
                    <ul class="uk-flex-center" uk-tab>
 
                        <li class="uk-active"><a href="#" (click)="getTopicFromButtonClick($event)" id="TOT">전체</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="POL">정치</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="ECO">경제</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="SOC">사회</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="CUL">문화</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="INT">국제</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="IT">IT_과학</a></li>
                        <li><a href="#" (click)="getTopicFromButtonClick($event)" id="SPO">스포츠</a></li>
                    </ul>

                <div>
                    <angular-tag-cloud  class="uk-width-* uk-align-center"
                    [data]="cData"
                    [width]="options.width"
                    [height]="options.height"
                    (clicked)="logClicked($event)"
                    >
                    </angular-tag-cloud>
                </div>
            </div>  

    
        </div>
    </div>
</div>