<div class="uk-container">

  <button (click)="getResult()" class="uk-button uk-button-primary">Send Query</button>

<div *ngIf="articleSources?.length > 1" class="uk-flex uk-flex-right">
    <button (click)="getResult()" class="uk-button uk-button-primary">Data Analysis</button>
</div>


  <div *ngFor="let articleSource of articleSources">
    <app-article-details [article]='articleSource._source' ></app-article-details>
  
  </div>

  <div *ngIf="articleSources?.length < 1" style="margin-top:20px">
    <p>Not found!</p>
  </div>


  
</div>