<p>social-register works!</p>
<H1>google 계정으로 회원가입</H1>
<H2>약관 동의 : 개인정보 묻기</H2>
<H3>수집하려는 데이터</H3>
<ul>
    <li>
        <div class="row">
            <div class="col">
                소셜 계정 이메일
            </div>
            <div class="col">
                동의?
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col">
                접속 시간
            </div>
            <div class="col">
                동의?
            </div>
        </div>
    </li>
    <li>
        <div class="row">
            <div class="col">
                검색 기록
            </div>
            <div class="col">
                동의?
            </div>
        </div>
    </li>
</ul>

<a (click)="gRegister()">Google 소셜 계정으로 회원가입하기</a>
