<div class="uk-flex uk-flex-nowrap uk-grid-small uk-margin-left">

  <div class="uk-padding-remove-left">
  <button  class="uk-button uk-button-default">{{post.postName}}</button>
</div>

<div>
  <button  class="uk-button uk-button-default">Butt2</button>
</div>

<div>
  <button  class="uk-button uk-button-default">Butt3</button>
</div>

<div>
  <button  class="uk-button uk-button-default">Butt4</button>
</div>

<div>
  <button  class="uk-button uk-button-default">Butt5</button>
</div>
</div>


