<div class="search-detail-area">
  <h2>문서 상세보기</h2>

  <h4 class=" alignleft">{{ article.post_title }}</h4>
  <h4 class=" alignright">{{ article.post_writer }}</h4>
  <div style="clear: both;"></div>

  <hr>

  <div class="uk-align-right temp-url-area">
    {{article.published_institution_url}}
  </div>


    
    
    
  <div class="uk-align-center">
    발행기관 {{article.published_institution_url}}
  </div>
    
  <div class="uk-align-center">
    간행물 
  </div>
  <div class="uk-align-center">
    간행물 구분
  </div>
  <div class="uk-align-center">
    발행년월 {{article.post_date}}
  </div>
  <div class="uk-align-center">
    페이지 {{article.number}}
  </div>
  <div class="uk-align-center">

  </div>
    
</div>