<p>search-detail works!</p>
<h1>search-detail</h1>
<h1>Title</h1>
<h2>Author</h2>
<div class="row">
  <div class="col">
    <li>
      <ul>
        institution
      </ul>
      <ul>
        type of publish
      </ul>
      <ul>
        page
      </ul>
      <ul>
        date of release
      </ul>
      <ul>
        page
      </ul>
    </li>
  </div>
  <div class="col">
    <h3>brief</h3>
    <li>
      brief...
    </li>
  </div>
</div>
<div class="row">
  <div class="col">
    summary
  </div>
  <div class="col">
    Figures(pic, tables...)
  </div>
</div>
