.search-detail-area{
    // background-color: lightsteelblue;
    padding : 0;
    margin : 0;
}
.grid-area-head{
    background-color: lightyellow;
    // padding : 0;
    margin : 0;
}
.temp-url-area{
    // background-color: lightyellow;
    // padding : 0;
}

.alignleft {
    float: left;
    text-align:left;
    width:75%;
}
.alignright {
    float: left;
    text-align:right;
    width:25%;
}


.set-margin-element{
    margin-top : 40px;
}

.detail-gray-box{
    font-weight : regular;
     font-size : 23px;
     color : #3d3d3d;
     background-color: #e8e8e8;
     width : 200px;
     height : 40px;
     text-align: center;
     padding : 0;
}

.detail-info{
    font-weight : regular;
     font-size : 23px;
     color : #3d3d3d;
}

.detail-header{
    font-weight : bold;
     font-size : 27px;
     color : #8a8d8e;
}

.detail-content{
    font-weight : regular;
    font-size : 23px;
    color : #3d3d3d;
    padding : 100px;
}