<div class="search-detail-area">
  <h2>문서 상세보기</h2>

  <h4 class=" alignleft">{{ article.post_title }}</h4>
  <h4 class=" alignright">{{ article.post_writer }}</h4>
  <div style="clear: both;"></div>

  <hr>

  <div class="uk-align-right temp-url-area">
    {{article.published_institution_url}}
  </div>

  <div class="uk-section">


    <div uk-grid>
      <!-- info -->
      <div class="uk-width-small uk-background-muted">
        발행기관
      </div>
      <div class="uk-width-small">
        {{article.published_institution_url}}
      </div>
    </div>
    <div uk-grid>

      <div class="uk-width-small uk-background-muted">
        간행물
      </div>
      <div class="uk-width-small">

      </div>
    </div>
    <div uk-grid>

      <div class="uk-width-small uk-background-muted">
        간행물 구분
      </div>
      <div class="uk-width-small">

      </div>
    </div>
    <div uk-grid>

      <div class="uk-width-small uk-background-muted">
        발행년월
      </div>
      <div class="uk-width-small">
        {{article.post_date}}
      </div>
    </div>

    <div uk-grid>
      <div class="uk-width-small uk-background-muted">
        페이지
      </div>
      <div class="uk-width-small">
        {{article.number}}
      </div>
    </div>


    <!-- 소제목들 -->
    <div class="set-margin-element">

      <div class="set-margin-element" id="breif" >
        <h2>
          목차
        </h2>
        <hr>
        <ul>
          <li>1. a</li>
          <li>2. </li>
          <li>3. </li>
          <li>4. </li>
        </ul>
      </div>

      <div class="set-margin-element" id="summ">
        <h2>
          초록
        </h2>
        <hr>
        내가 그린 기린 그림은 잘 그린 기린 그림이고, 네가 그린 기린 그림도 잘 생겼다 :)
        초록 말고 gensim 요약 돌려도 괜찮을 수도...? 바로 상용화 가능...
      </div>

      <div class="set-margin-element" id="related-doc">
        <h2>
          연관문서
        </h2>
        <hr>
        <div *ngIf="0 < isRelatedLoaded">

          <div *ngFor="let rcmd of rcmdList; index as r">
            <a (click)="goToDoc(r)">{{ rcmd["title"] }}</a>
          </div>
        </div>
      </div>

      <div class="set-margin-element" id="word-cloud">
        <h2>
          워드클라우드
        </h2>
        <hr>

        <div *ngIf="0 < isCloudLoaded">

          <div class="uk-container">
            <div class="card card-body mb-2">
              <div>
                <angular-tag-cloud [data]="cData" [width]="options.width" [height]="options.height">
                </angular-tag-cloud>
              </div>
            </div>
          </div>
        </div>


        <!-- {{ article.post_body }}</div> -->
      </div>

      <div class="set-margin-element" >
        <h2>
          추가자료
        </h2>
        <hr>
      </div>


    </div>
  </div>
</div>