<p>UserDashBoard Page</p>


<div class="entire-Board" style= "width : 100%; display: table; border: 1px black solid;">

  <div class="uk-card uk-card-default uk-card-body" style= "width : 100%; display: table-cell;">
    <dl class="uk-description-list">
      <h3>도움말</h3>

      <dt>1단계</dt>
      <dd>문서 선택 한다</dd>
      
      <dt>2단계</dt>
      <dd>분석 선택 한다</dd>
      
      <dt>3단계</dt>
      <dd>그래프 선택 한다</dd>
  </dl>
  </div>
    <!--
      <ul>
        <div *ngFor = "let doc of this.docTitleList; index as d">
          <li>
           문서 : <a>{{ docTitleList[d]}} </a>
          </li>
        </div>
      </ul> 


       <div *ngFor="let doc of myDocsTitles, index as i">
          <div class="form-group">
            <input type="checkbox" name = "i" (change)="this.boxChange(this)">
          </div>
      </div>
    -->
</div>



<div class="block" style="width : 100%; display: table; border: 1px black solid;">

  <div class="keyword-block" style="display:table-cell; border: 1px red solid; width: 30%;">
    문서 보유 목록
    <ul>
      <div *ngFor="let doc of this.docTitleList, index as t">
          <div class="form-group">
            <input type="checkbox" formContronName="docs"  name = "t" (change)="this.boxChange(t)" [value] = "checkArr[t]" [(ngModel)]="filter[t]" >
             {{doc}}
          </div>
      </div>


    </ul>
  </div>

  <div class="choose-block" style="display:table-cell; border:1px green solid; width : 20%;">
    <div class="analysis-choose" style="border : 1px gold solid;">
      무슨 분석을 하시겠습니까?
      <div *ngIf="chosenCount > 1 || chosenCount == 0">
        <div *ngFor="let word of this.analysisList; index as i">
          <input type="radio" formContronName="sis" name="i" [value]="analysisList[i]" [(ngModel)]="userAnalysisChoice">
               {{analysisList[i]}}
        </div>
      </div>
    </div>
    <div class="form-group">
      <input type="radio" name="related" [value]="related" [(ngModel)]="userAnalysisChoice">related
    </div>





    <div class="graph-choose" style="border : 1px cyan solid;">
      무슨 그래프를 선택하시겠습니까?

      <div *ngFor="let word of this.graphList; index as k">
        <input type="radio" formContronName="gra" name="k" [value]="graphList[k]" [(ngModel)]="userGraphChoice">
        {{graphList[k]}}
      </div>

    </div>
    <button (click)="showResult()">Choice Complete</button>
    <div *ngIf="choiceComplete">Your Choice : <b>{{userAnalysisChoice}} Analysis</b> and <b>{{userGraphChoice}}
        Graph</b></div>
  </div>

  <div class="graph-block" style="display:table-cell; border:1px blue solid;">
    그래프
    <div *ngIf="choiceComplete">

      <div *ngIf="userGraphChoice == 'Bar'" class="column"
        style="display: block; width : 90%; height : 500px; margin: 20px;">
        <canvas baseChart [datasets]="barChartData" [labels]="barChartLabels" [options]="barChartOptions"
          [legend]="barChartLegend" [chartType]="barChartType" [options]="barChartOptions">
        </canvas>
      </div>

      <div *ngIf="userGraphChoice == 'Dounut'" class="column" style="display: block; width : 90%; height : 500px">
        <canvas baseChart [data]="doughnutChartData" [labels]="doughnutChartLabels" [chartType]="doughnutChartType"
          [colors]="doughnutChartColors">
        </canvas>
      </div>

      <div *ngIf="userGraphChoice == 'Line'" class="column" style="display: block; width : 90%; height : 500px">
        <canvas baseChart [datasets]="lineChartData" [labels]="lineChartLabels" [options]="lineChartOptions"
          [colors]="lineChartColors" [legend]="lineChartLegend" [chartType]="lineChartType"
          [plugins]="lineChartPlugins">
        </canvas>
      </div>


    </div>
  </div>

</div>
