<div class="uk-navbar-container" uk-navbar>
  <div class="uk-navbar-right ">
  <ul class="uk-navbar-nav uk-visible@m" routerLinkActive="active" >
        <li>
        <a *ngIf="!_auth.loggedIn()" (click)="toLogin()">로그인</a>
        </li>
        
        <li><a *ngIf="!_auth.loggedIn()" (click)="toRegister()">회원가입</a></li>
        <li><a *ngIf="_auth.loggedIn()"(click)="_auth.logoutUser()">로그아웃</a></li>
        <li><a (click)="LineChart()">사이트맵</a></li>
      </ul>
</div>
</div>





<nav class="uk-navbar-container" uk-navbar>
    <div class="uk-navbar-left uk-flex-nowrap">
    <a class="uk-navbar-toggle uk-hidden@m uk-padding-remove-left" 
    uk-navbar-toggle-icon
    uk-toggle
    href="#hamburger-menu">
    </a>
        <a href="/homes" class="uk-navbar-item uk-logo uk-padding" >
          <img src="assets/kubic_logo.png" alt="" width="120">
        </a>
    </div>




    <div class="uk-navbar-right">
      <ul class="uk-navbar-nav uk-visible@m" routerLinkActive="active" >
        <li><a (click)="navigateLibrary()">검색&middot;분석</a>
        <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">메뉴1</a></li>
                        <li><a href="#">메뉴2</a></li>
                        <li><a href="#">메뉴3</a></li>
                    </ul>
                </div>
        </li>
        <li><a (click)="navigateQT()">자료열람</a>
          <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">메뉴1</a></li>
                        <li><a href="#">메뉴2</a></li>
                        <li><a href="#">메뉴3</a></li>
                    </ul>
                </div>
        </li>
        <li><a (click)="LineChart()">특별기획</a>
          <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a (click)="navigateSpecials()">기획1</a></li>
                        <li><a href="#">기획2</a></li>
                        <li><a href="#">기획3</a></li>
                    </ul>
                </div>
        </li>
        <li><a (click)="toFlask()">커뮤니티</a>
        
        <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">공지사항</a></li>
                        <li><a href="#">FAQ</a></li>
                        <li><a href="#">Q&amp;A</a></li>
                        <li><a href="#">이벤트</a></li>
                    </ul>
                </div>
                </li>
        <li><a (click)="toFlask()">홈페이지 소개</a>
          <div class="uk-navbar-dropdown">
                    <ul class="uk-nav uk-navbar-dropdown-nav">
                        <li><a href="#">사이트 소개</a></li>
                        <li><a href="#">서비스 안내</a></li>
                        <li><a href="#">수집 정보</a></li>
                        <li><a href="#">회원정책</a></li>
                    </ul>
                </div>
        </li>
      </ul>
    </div>


</nav>


<div id="hamburger-menu" uk-offcanvas="overlay: true">
  <div class="uk-offcanvas-bar">
    <ul class="uk-nav uk-nav-default uk-light">
      <li><a href="">Menu1</a></li>
        <li><a href="">Menu2</a></li>
        <li><a href="">Menu3</a></li>
        <li><a href="">Menu4</a></li>
        <li><a href="">Menu4</a></li>
    </ul>
  </div>
</div>