<div class="uk-container" >
  
  
  <div class="search-filter">

    <button class="uk-button uk-button-text">검색필터&nbsp;&nbsp;<span uk-icon="icon: info; ratio:0.8"></span></button>
  </div>
  
       
          <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: .filter_category">카테고리<span uk-icon="icon: triangle-down"></span></button>
        
              <div class="filter_category">

                <div class="uk-card uk-card-small uk-card-body">
                  <ul class="uk-nav uk-dropdown-nav">
                  
                      <br>

                      <li *ngFor="let topic of topics">
                        {{topic}} (100)
                        
                        <label><input class="uk-checkbox" type="checkbox"></label>
                        
                      </li>
                     
                  </ul>
                  </div>

              </div>



          <button class="uk-button uk-button-default uk-button-small" uk-toggle="target: .filter_date">기간<span uk-icon="icon: triangle-down"></span></button>

             <div class="filter_date">
              <div class="uk-card uk-card-small uk-card-body">
                 
                    <div class="uk-margin" style = "width : 20pt">
                      <input class="uk-range" type="range" value="1970" min="1950" max="2019" step="1" [(ngModel)]="sValue">
                      To {{sValue}}
                    </div>
          

              </div>

              </div>
              
      
</div>