/* You can add global styles to this file, and also import other style files */
@import "../node_modules/uikit/src/less/uikit.theme.less";

@color-default: #484848;
@search-placeholder-color: @color-default;

.uk-search-input::placeholder{
    font-weight: bold;
}

.uk-navbar-nav-item(){
    text-transform: none;
    color: @color-default;
    font-weight: 500;
}

.hook-button(){
    border-radius: 5px;
    text-transform: none;

}

.uk-button{
    border-radius: 20px;
}

.button-gray{
    background-color: #f0f2f2;
}
.button-blue{
    background-color: #52b9ff;
    color:white;
}

.button-white{
    background-color: white;
    
}

.button-outline{
    border: 1px solid #8a8d8e;
    border-radius: 20px;
    
}