

<div class="login-form">
    <form action="/examples/actions/confirmation.php" method="post">
        <h2 class="text-center">로그인</h2>		
        <div class="text-center social-btn">
			<a href="#"
      (click)="signInWithGoogle()" class="btn btn-danger btn-block"><i class="fa fa-google"></i><b>Google 계정</b>으로 로그인</a>
        </div>
		<div class="or-seperator"><i>or</i></div>
        <div class="form-group">
        	<div class="input-group">
                <span class="input-group-text"><i class="fa fa-user"></i></span>
                <input type="text" [(ngModel)]="loginUserData.email" class="form-control" name="email" placeholder="이메일 주소" required="required">
            </div>
        </div>
		<div class="form-group">
            <div class="input-group">
                <span class="input-group-text"><i class="fa fa-lock"></i></span>
                <input type="password" [(ngModel)]="loginUserData.password" class="form-control" name="password" placeholder="비밀번호" required="required">
            </div>
        </div>        
        <div class="form-group">
            <button type="submit" (click)="loginUser()" class="btn btn-success btn-block login-btn">로그인</button>
        </div>
        <div class="clearfix">
            <label class="pull-left checkbox-inline"><input type="checkbox"> 로그인 유지</label>
            <a href="#" class="pull-right text-success">비밀번호를 잊어버리셨나요?</a>
        </div>  
        
    </form>
    <div class="hint-text small">계정이 없으신가요? <a href="#" class="text-success">회원가입!</a></div>
</div>