.search-bar{
    color:balck;
    width : 100%;
    border-radius:20px;
    background-color: #f0f2f0;
     background-repeat: no-repeat;
      background-size: 30px;
     padding-left: 40px;

}

input::placeholder {
    color: black;
    font-weight: 400;
}

.filter-font{
    font-size : 17px;
    color : #3d3d3d;
    border: 1px solid #dddddd;
}

.search-filter{
    padding : 0px;
    // margin : 0px;
    // background-color: magenta;
}

.search-bar-area{
    // background-color: yellowgreen;
}

// .button-width