<div *ngIf="article">
  <article class="uk-article">
    <div class = "row">
      <div class="uk-text-large">
        <a href="{{article.published_institution_url}}">
            <h4> {{article.post_title}} </h4>
        </a>
      </div>
   </div>
   <div class = "row">
      <p>
        {{ (article.post_body.length > 80) ? (article.post_body | slice:0:80)+'..' : (article.post_body)}}
      </p>
    </div>
    <div class = "row">
    <div class = "container">
      <div class="uk-grid-small uk-child-width-auto" uk-grid>               
        {{article.post_date | date:"yyyy/MM/dd"}} |  {{article.post_writer}}
      </div>
    </div>
    </div>
  </article>
</div>

